<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>电影信息</title>

    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>

<body>

<div class="main">
    <div class="main-inner body-width">



        <div class="main-cont main-album">
            <div class="main-cont__title">
                <h3 onclick="movieName(this)" id="title">电影</h3>
            </div>
            <ul id="movieList" class="main-cont__list clearfix">
            </ul>
        </div>

        <script src="../js/vue.min.js"></script>
        <script src="../js/jquery.min.js"></script>
        <script src="../js/jquery.cookie.js"></script>
        <script src="../js/main.js"></script>

</body>
